---
import PagePlate from "@/layouts/PagePlate.astro";
const locals = Astro.locals;
locals.runtime;
locals.runtime.env.CHAT_ROOM.newUniqueId();
---

<PagePlate title="Chatroom Website">
	<h1>Welcome to the Chatroom!</h1>
</PagePlate>
